/*-------- CSS V.1 ---------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: iranyekan !important;
    direction: rtl;
/*    background: #d1d1d1;
*/}

ul,li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iranyekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iranyekan/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

.font13 {
    font: 13px iranyekan;
}

.font14 {
    font: 14px iranyekan;
}

.font15 {
    font: 15px iranyekan;
}

.font16 {
    font: 16px iranyekan;
}

.font17 {
    font: 17px iranyekan;
}

.font18 {
    font: 18px iranyekan;
}

.font19 {
    font: 19px iranyekan;
}

.font20 {
    font: 20px iranyekan;
}

/*------------------------------------ HEADER-Bodybuilding ------------- */

.header {
    float: right;
    width: 100%;
    height: auto;
    background: #ffffff;
}

.header .header_right {
    /*width: 50%;*/
    height: auto;
    float: right;
    /*background: #00a157;*/
}

.header .header_right a {
    display: block;
    float: right;
    color: black;
    line-height: 67px;
}

.header .header_right a img {
    width: 100%;
    height: 75px;
    float: right;
}

.header .header_left {
    /*width: 50%;*/
    height: auto;
    float: left;
    /*background: #8a8a8a;*/
}

.header .header_left a {
    display: block;
    float: left;
    color: black;
    line-height: 67px;
}

@media (max-width: 1050px) {

    .header .header_left a {
        /*display: none;*/
    }
}

/*------------------------------------ END HEADER-Bodybuilding -------------*/

/*--------------------------------------- Navigation (menu) ------------------*/
#menu {
    float: right;
    width: 100%;
    height: 40px;
    background: #ffffff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ececec;
    /*margin-bottom: 50px;*/
}

.menu-level-1 {
    float: right;
    height: 40px;
    margin-right: 60px;
}

.menu-level-1 > li {
    float: right;
    height: 40px;
}

.menu-level-1 > li > a {
    padding: 0 20px;
    text-decoration: none;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 38px;
    color: #707172;
}

.menu-level-1 > li i {
    transition: all 400ms ease;
    font-size: 15px;
    color: red;
}

.-menu-level-1 li:hover i {
    transform: rotate(180deg);
    transition: all 400ms ease;

}

.menu-level-2 {
    width: 160px;
    position: absolute;
    background: #3e3d40;
    padding: 5px 10px;
    z-index: 2;
 /*   right: 192px;
    top: 120px;*/
    white-space: nowrap;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
    display: none;
}

.menu-level-2 li {
    height: 40px;
    /*border-bottom: 1px solid deepskyblue;*/
}

.menu-level-2 li a {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 40px;
    padding: 0 15px;
    color: #707172;
    line-height: 40px;
}

.menu-level-2 > li:hover > a {
    color: white;
    /*border-bottom: 1px solid red;*/
}

.container-fluid > ul > li:hover > a {
    color: #df2726;
}

/*----------------------- ICON Responsive ----------------------------*/
.container-fluid .responsive-menu-icon {
    float: right;
    cursor: pointer;
    display: block;
}

.container-fluid .responsive-menu-icon img {
    width: 40px;
    height: 30px;
    margin-top: 5px;
    display: none;
}

@media screen and (max-width: 768px) {
    .container-fluid .responsive-menu-icon img {
        display: block !important;
    }

    #menu > .container-fluid > ul {
        display: none !important;
    }

}

/*----------------------- END ICON Responsive ----------------------------*/
/*----------------------- Responsive Menu ----------------------------*/
.responsive-menu {
    display: none;
    width: 100%;
    height: auto;
    /*background-image: linear-gradient(305deg, #6e6e6e 33%, rgba(66, 66, 66, 0.91) 93%);*/
    background: #fafafa;
    position: fixed;
    top: 0;
    right: -1300px;
    margin-top: 130px;
    overflow: hidden;
    /*box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);*/
    box-sizing: border-box;
    box-shadow: inset 0 2px 8px 0 rgba(0, 0, 0, 0.45);

    z-index: 100;
}

.responsive-menu-level-1 {
    margin: 2px 0;
}

.responsive-menu-level-1 > li {
    margin: 0 0;
    padding: 20px 0;
    text-align: center;
    box-shadow: inset 0 6px 8px 0 rgba(0, 0, 0, 0.15);
    letter-spacing: .3px;

}

.responsive-menu-level-1 > li > a {
    display: block;
    text-decoration: none;
    color: #707172;
    font-size: 20px;
    font-weight: bolder;
}

.responsive-menu-level-1 > li:hover > a {
    color: red;
}

.responsive-menu-level-1 > li i {
    transition: all 400ms ease;
    font-size: 15px;
    color: red;
}

.responsive-menu-level-1 li:hover i {
    transform: rotate(180deg);
    transition: all 400ms ease;

}

.responsive-menu-level-2 {
    width: 100%;
    /*position: absolute;*/
    background: #3e3d40;
    padding: 5px 10px;
    /*z-index: 2;*/
    /*right: 1px;*/
    top: 128px;
    margin-top: 10px;
    white-space: nowrap;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
    display: none;
}

.responsive-menu-level-2 li {
    height: 40px;
    /*border-bottom: 1px solid deepskyblue;*/
}

.responsive-menu-level-2 li a {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 40px;
    padding: 0 15px;
    color: #707172;
    line-height: 40px;
}

.responsive-menu-level-2 li a:hover {
    /*background: white;*/
    color: white;
}

.back-container {
    width: 100%;
    height: 100%;
    position: fixed;
    float: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .7s;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;

}
/*----------------------- END Responsive Menu ----------------------------*/
/*---------------------------- slide ---------------------------------*/
.slider-2 {
    height: 42vw;
    /*margin-top: 50px;*/
    /*margin-bottom: 100px;*/
}

.slider{
    background: #2c3e50;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    float: right;
}
.icon-blog{
    padding-left: 2vw;
    color: #ce0000;
    font-size: 1.2vw;
}
.carousel-caption p{
    font-family: iranyekan;
    font-size: 1.3vw;
}

@media (max-width: 767px) {
    /*.slider-2 {*/
    /*height: 45vw;*/
    /*}*/
    /*.img-slide-2 img {*/
    /*height: 45vw !important;*/
    /*}*/
}

/*---------------------------- END slide ---------------------------------*/
/*---------------------------- Footer ----------------------*/
.footer {
    /*width: 1200px;*/
    height: auto;
    float: right;
    padding-top: 40px;
    background: #c6c8c9;
}

.footer .item-footer {
    width: 100%;
    height: 400px;
    /*background: #2c3e50;*/
    margin-bottom: 20px;
}

/*.footer-line1 {*/
/*float: right;*/
/*width: 100%;*/
/*height: 500px;*/
/*background: #dee1e2;*/
/*margin-top: 30px;*/
/*margin-bottom: 10px;*/
/*border-radius: 4px;*/
/*}*/

/*.footer-line1 h1 {*/
/*font-family: iranyekan;*/
/*font-size: 30px;*/
/*font-weight: bold;*/
/*margin-top: 40px;*/
/*}*/

/*.footer-line1 p {*/
/*width: 100%;*/
/*height: 20px;*/
/*font-family: iranyekan;*/
/*font-size: 20px;*/
/*float: right;*/
/*}*/

/*.footer-line1 p.first-child {*/
/*margin-top: 30px;*/
/*}*/

/*.br-footer {*/
/*width: 80%;*/
/*height: 2px;*/
/*background: red;*/
/*text-align: center;*/
/*margin: 0 10%;*/
/*}*/

/*-------------------------- End Footer ----------------------*/
/*------------------------------- Footer-Fine-2 -----------------------------*/
.footer-fine2 {
    height: 50px;
    float: right;
    background: #1fa4b3;
}
.footer-right {
    float: left;
    width: 100%;
    height: 50px;
}

.footer-right p {
    /*float: right;*/
    /*display: bloc k;*/
    text-align: center;
    font-weight: bolder;
    font-family: iranyekan;
    font-size: 20px;
    /*margin: 0 auto;*/
}

.footer-left{
    float: left;
    width: 100%;
    height: 50px;
}

.footer-left p{
    text-align: center;
    font-weight: bolder;
    font-family: iranyekan;
    font-size: 20px;
}


/*------------------------------- End Footer-Fine-2 -----------------------------*/


/**********footer**********************/



.footer-title {
    width: 100%;
    height: auto;
    /*background: grey;*/
    border-bottom: 3px solid #1fa4b3;
}

.footer-title p {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.footer-body {
    width: 100%;
    height: auto;
    /*background: #1fa4b3;*/
    margin-top: 20px;
}

.footer-body ul li {
    width: 100%;
    height: 40px;
    /*background: grey;*/
    margin-bottom: 10px;
    line-height: 40px;
}

.footer-body ul li a {
    display: block;
    /*width: auto;*/
    /*height: auto;*/
    color: #1fa4b3;
}

.footer-body ul li a:hover {
    /*display: block;*/
    color: white;
}

/************************end foote*******/
/*******item blog*****/
  .blog-item {
            width: auto;
            height: auto;
            /*background: #448da4;*/
            float: right;
            margin-bottom: 20px;
            margin-top: 10px;
            /*transition: all 400ms ease-in-out;*/

        }

        .item {
            width: 22vw;
            height: 20vw;
            background: white;
            float: right;
            margin: 0 14px 10px 10px;
            position: relative;
            overflow: hidden;
        }

        .item2 {
            width: 22vw;
            height: 20vw;
            background: #ff56ba;
            float: right;
            margin: 0 14px 10px 10px;
            position: relative;
            overflow: hidden;
        }

        .item2 img {
            width: 100%;
            height: 100%;
            /*position: relative;*/
        }

        .item2 .item-title {
            width: 100%;
            height: 100%;
            background-color: rgba(43, 91, 105, 0.83);
            float: right;
            position: absolute;
            bottom: 0;
            display: none;
            transition: all ease-in-out 1s;

        }

        .item2:hover .item-title {
            width: 100%;
            height: 100%;
            background-color: rgba(43, 91, 105, 0.83);
            float: right;
            position: absolute;
            bottom: 0;
            display: block !important;
            transition: all ease-in-out 5s;
        }

        .item2 .item-title:hover {
            height: 100%;
            transition: all ease-in-out 5s;
        }

        .item img {
            width: 100%;
            height: 100%;
            /*position: relative;*/
        }

        .item .item-title {
            width: 100%;
            height: 20%;
            background-color: rgba(43, 91, 105, 0.83);
            float: right;
            position: absolute;
            bottom: 0;
            transition: all 600ms ease-in;

        }

        .item .item-title:hover {
            height: 100%;
            transition: all 600ms ease-in;
        }

        .item-title .title-titre {
            width: 100%;
            height: auto;
            /*background: grey;*/
        }

        .title-titre p {
            color: white;
            font-weight: bolder;
            font-size: 1.6vw;
            text-align: center;
            line-height: 60px;
        }

        .item-title .title-pg {
            width: 100%;
            height: 80%;
            /*margin-top: 20%;*/
            /*background: #687980;*/
        }

        .title-pg p {
            color: white;
            font-size: 1.1vw;
            font-weight: bold;
            text-align: justify;
            padding: 10px 10px 0 10px;
        }

        @media (max-width: 992px) {
            .item {
                width: 20vw;
                height: 20vw;
                margin: 0 1.2vw 10px 1vw;
            }

            .title-titre p {
                color: white;
                font-weight: bolder;
                font-size: 1.6vw;
                text-align: center;
                line-height: 30px;
            }
        }

        @media (max-width: 768px) {
            .item {
                width: 20vw;
                height: 20vw;
                /*margin: 0 5px 10px 5px;*/
            }

            .title-titre p {
                color: white;
                font-weight: bolder;
                font-size: 1.6vw;
                text-align: center;
                line-height: 30px;
            }
        }

        @media (max-width: 576px) {
            .item {
                width: 30vw;
                height: 25vw;
                margin: 0 6vw 10px 6vw;
            }

            .title-titre p {
                color: white;
                font-weight: bolder;
                font-size: 1.6vw;
                text-align: center;
                line-height: 30px;
            }
        }

        @media (max-width: 390px) {
            .item {
                width: 32vw;
                height: 25vw;
                margin: 0 3.5vw 10px 3.5vw;
            }

            .title-titre p {
                color: white;
                font-weight: bolder;
                font-size: 1.6vw;
                text-align: center;
                line-height: 20px;
            }
        }

        @media (max-width: 290px) {
            .item {
                width: 60vw;
                height: 40vw;
                margin: 0 8vw 10px 5vw;
            }

            .title-titre p {
                color: white;
                font-weight: bolder;
                font-size: 4vw;
                text-align: center;
                line-height: 20px;
            }

            .title-pg p {
                color: white;
                font-size: 2.5vw;
                font-weight: bold;
                text-align: justify;
                padding: 10px 10px 0 10px;
            }
        }
		
		
		/**************** menu box************/
		
		   .box-products {
        width: 100%;
        height: auto;
        background: #eaedee;
        float: right;
        margin: 2px 0;
        box-shadow: 0px -10px 16px 8px rgba(0, 0, 0, 0.1);
        /*border-top: 1px solid #787878;*/

    }

    .box-products .box-products-menu {
        /*background: #2c3e50;*/
        width: 50%;
        height: 4vw;
        margin: 0 auto;
    }

    .box-products-menu ul {
        /*background: #2c3e50;*/
        height: 100%;
        width: 70%;
        margin: 0 auto;
        /*float: right;*/
    }

    .box-products-menu ul li {
        float: right;
        width: 25%;
        height: 100%;
        /*background: grey;*/
    }

    .box-products-menu ul li a {
        display: block;
        text-align: center;
        line-height: 4vw;
        color: #3f8499;
        font-family: iranyekan;
        font-weight: bolder;
        font-size: 1.3vw;
        transition: all 400ms ease;
    }

    .box-products-menu ul li:hover a {
        transition: all 400ms ease;
        color: #2b5b69;
        background: #448da4;
    }

    .box-products-item {
        width: 100%;
        height: auto;
        padding-top: 20px;
        /*background: #3f8499;*/
    }

    .box-products-item .item {
        /*width: 100%;*/
        /*height: 30vw;*/
        background: rgb(43, 91, 105);
        height: 420px;
        width: 100%;
        margin-top: 20px;
    }

    .box-products-item .item:hover {
        box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.2);

    }

    .box-products-item .item .item-img {
        width: 100%;
        height: 65%;
        float: right;
    }

    .box-products-item .item .item-img img {
        width: 100%;
        height: 100%;
    }

    .box-products-item .item .item-title {
        background: grey;
        width: 100%;
        height: 35%;
        float: right;
    }

    .box-products-item .item .item-title h4 {
        color: whitesmoke;
        padding-top: 50px;
        text-align: center;
    }

    .box-products-item .item .item-new {
        background: #0c5460;
        width: 20%;
        height: 15%;
        float: left;
        z-index: 99;
        margin: -185px 0 0 20px;
        transition: all 400ms ease;
        border-radius: 4px;
    }

    .box-products-item .item:hover .item-new {
        margin: -220px 0 0 20px;
        transition: all 400ms ease;
    }

    .box-products-item .item .item-new > h3 {
        color: #1fa4b3;
        z-index: 223423;
        padding-top: 10px;
        text-align: center;
    }

    /*.box-products-item .item  .item-new > ::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*width: 0;*/
    /*height: 0;*/
    /*top: 218px;*/
    /*margin: 0 auto;*/
    /*right: 228px;*/
    /*left: 0;*/
    /*border-style: solid;*/
    /*border-width: 0 12px 12px 12px;*/
    /*border-color: transparent transparent #0c5460 transparent;*/

    /*}*/

    .box-products-item .item .item-new > ::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 295px;
        margin: 0 auto;
        right: 228px;
        left: 0;
        transition: all 400ms ease;
        z-index: 90;
        border-style: solid;
        border-width: 0 12px 12px 12px;
        border-color: transparent transparent #0c5460 transparent;

    }

    .box-products-item .item:hover .item-new > ::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 198px;
        margin: 0 auto;
        right: 228px;
        left: 0;
        transition: all 400ms ease;
        border-style: solid;
        border-width: 0 12px 12px 12px;
        border-color: transparent transparent #0c5460 transparent;

    }

/***fade image ********/

@keyframes animate {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.allimage img.top {
    animation-name: animate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

/*.allimage{
    height: 86px;
    padding: 10px;
}*/

img.img-responsive.bastimg{
    position: absolute;
    width: auto;
    left: 0px;
}
img.img-responsive.lockimg{
    position: absolute;

    width: 83%;
    height: 96px;
}
/*fade image ********/


/**animation title blog ***/
@keyframes bloglink{
    10%{transform: scale(1);}
    20%{transform: scale(1);}
    30%{transform: scale(1);}
    40%{transform: scale(1.1);}
    50%{transform: scale(1);}
    55%{transform: scale(1.1);}
    60%{transform: scale(1);}
    70%{transform: scale(1);}
    80%{transform: scale(1);}
    90%{transform: scale(1);}
    95%{transform: scale(1.1);}
    100%{transform: scale(1);}

}
.bloglink{
    animation: bloglink;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    text-align: center !important;
    display: inline-block;

}

/***animation title blog **/