/* index.blog.item.css V=0.1  */


* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: iranyekan !important;
    direction: rtl;
    background-color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iranyekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iranyekan/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

/* -------------------------------- header -------------*/
header {
    float: right;
    width: 100%;
    height: auto;
    background: #ffffff;
}

.header .header_right {
/*    width: 50%;
*/    height: auto;
    float: right;
    /*background: #00a157;*/
}

.header .header_right a {
    display: block;
    float: right;
    color: black;
    /*line-height: 67px;*/
}

.header .header_right a img {
    width: 100%;
    height: 75px;
    float: right;
}

.header .header_left {
/*    width: 50%;
*/    height: 80px;
    float: left;
    /*background: #8a8a8a;*/
}

.header .header_left a {
    display: block;
    float: left;
    color: black;
    line-height: 67px;
}

@media (max-width: 1050px) {

    .header .header_left a {
/*        display: none;
*/    }
}

/* ---------------------------------- End header -------------------- */

/*-------------------------- header-img(img-slide) -------------------------*/
/*.img-header {
    width: 100%;
    height: 500px;
   
    position: relative;
}
*/
/*
.container-fluid {
    !*width: 100%;*!
    !*height: 500px;*!
    padding: 0 !important;
}
*/

.img-header img {
    width: auto;
    margin: 0 auto;
    height: auto;
}

.img-header-title {
    width: 100%;
    /*height: 70px;*/
    background: white;
    float: right;
    
    padding-bottom: 30px;
    /*position: absolute;*/
    /*transform: skewX(-20deg) translate3d(0, 0, 0);*/
    /*margin: 466px 35% 0 0;*/
    /*border-top: 2px solid red;*/
    /*border-bottom: 2px solid red;*/
}

.img-header-title p {
    font-size: 1vw;
    /* margin: 0 auto; */
    /*
    padding-right: 20px;
    */
    text-align: center;
    /*
    float: right;
    */
    text-align: center;
    line-height: 0px;
}

@media (max-width: 900px) {
    .img-header-title {
        width: 100%;
        /*height: 70px;*/
        /*background: white;*/
        /*float: right;*/
        /*position: absolute;*/
        /*transform: skewX(-20deg) translate3d(0, 0, 0);*/
        margin: 10px 0 0 0;
        /*border-top: 2px solid red;*/
        /*border-bottom: 2px solid red;*/
    }

    .img-header-title p {
        font-size: 4vw;
        /*margin: 0 auto;*/
        /*text-align: center;*/
        line-height: 60px;
    }

}
/*-------------------------- End header-img(img-slide) -------------------------*/
/*-------------------------- blog-proposal -------------------------*/
.blog-proposal {
    width: 100%;
    height: auto;
    /*background: grey;*/
    float: right;
    margin-top: 50px;

    margin-bottom: 50px;
}

.blog-proposal .blog-proposal-pg {
    width: 100%;
    height: auto;
    /*background: #1fa4b3;*/
    float: right;
}

.blog-proposal-pg .proposal-pg-title {
    width: 90%;
    height: 80px;
    /*background: #0c5467;*/
    /*
    float: right;
    */
    text-align: center;
    margin: 10px 0 10px 5%;
    /*border-top: 2px solid red;*/
    /*border-bottom: 2px solid red;*/
}

.proposal-pg-title p {
    /*text-align: center;*/
    line-height: 20px;
    font-size: 2vw;
    padding-right: 87px;
    /*
    float:right;
    */
}

.blog-proposal-pg .proposal-pg-body {
    width: 90%;
    height: auto;
    float: right;
    /*background: #0c5460;*/
    margin: 0px 5% 0 5%;
}

.proposal-pg-body p {
    font-size: 1.5vw;
    color: #767676;
    text-align: justify;
}

.blog-proposal .blog-proposal-img {
    width: 40%;
    height: 100%;
    /*background: #0c5460;*/
    float: right;
}

.blog-proposal-img img {
    width: 80%;
    height: 300px;
    margin: 10px 10% 10px 10%;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .proposal-pg-body p {
        font-size: 3vw;
        color: #767676;
        text-align: justify;
    }
    .proposal-pg-title p {
        /*text-align: center;*/
        line-height: 90px;
        font-size: 4vw;
    }
}

/*-------------------------- end blog-proposal -------------------------*/
/*-------------------------- footer -------------------------*/
.footer {
    width: 100%;
    height: auto;
    float: right;
    padding-top: 40px;
    background: #c6c8c9;
}

.footer .item-footer {
    width: 100%;
    height: 400px;
    /*background: #2c3e50;*/
    margin-bottom: 20px;
}

.footer-title {
    width: 100%;
    height: auto;
    /*background: grey;*/
    border-bottom: 3px solid #1fa4b3;
}

.footer-title p {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.footer-body {
    width: 100%;
    height: auto;
    /*background: #1fa4b3;*/
    margin-top: 20px;
}

.footer-body ul li {
    width: 100%;
    height: 40px;
    /*background: grey;*/
    margin-bottom: 10px;
    line-height: 40px;
}

.footer-body ul li a {
    display: block;
    /*width: auto;*/
    /*height: auto;*/
    color: #1fa4b3;
}

.footer-body ul li a:hover {
    /*display: block;*/
    color: white;
}
/*-------------------------- End footer -------------------------*/

/*------------------------------- Footer-Fine-2 -----------------------------*/
.footer-fine2 {
    height: 50px;
    float: right;
    background: #1fa4b3;
}
.footer-right {
    float: left;
    width: 100%;
    height: 50px;
}

.footer-right p {
    /*float: right;*/
    /*display: bloc k;*/
    text-align: center;
    font-weight: bolder;
    font-family: iranyekan;
    font-size: 20px;
    /*margin: 0 auto;*/
}

.footer-left{
    float: left;
    width: 100%;
    height: 50px;
}

.footer-left p{
    text-align: center;
    font-weight: bolder;
    font-family: iranyekan;
    font-size: 20px;
}


/*------------------------------- End Footer-Fine-2 -----------------------------*/

/***fade image ********/

@keyframes animate {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.allimage img.top {
    animation-name: animate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

/*.allimage{
    height: 86px;
    padding: 10px;
}*/

img.img-responsive.bastimg{
    position: absolute;
    width: auto;
    left: 0px;
}
img.img-responsive.lockimg{
    position: absolute;

    width: 83%;
    height: 96px;
}
/*fade image ********/

/**animation title blog ***/
@keyframes bloglink{
    10%{transform: scale(1);}
    20%{transform: scale(1.1);}
    30%{transform: scale(1);}
    40%{transform: scale(1.1);}
    50%{transform: scale(1);}
    60%{transform: scale(1.1);}
    70%{transform: scale(1);}
    80%{transform: scale(1.1);}
    90%{transform: scale(1);}
    95%{transform: scale(1.1);}
    95%{transform: scale(1);}

}
.proposal-pg-title{
    animation: bloglink;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    text-align: center !important;
    display: inline-block;

}

/***animation title blog **/