

.products-gallery {

  position: relative;
}

 ul,li
 {
   list-style: none;
   margin: 0;
   padding: 0;
 }
.product-main-spec
{
  min-height: 600px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
}
.product-main-spec> div
{
  background-color: #FFF;
}
.p-slider-top
{
  width: 100%;
  height: 80px;
  padding: 20px 5px;
}
.p-slider-top >ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}
.p-slider-top >ul>li>a>span
{
  color: #4d4d4d;
}
.p-slider-top >ul>li
{
  display:inline-block;
  width: 35px;
  height: 35px;
  float: left;
  padding: 10px;

}
.product-spec-header
{
  background-color: #F5F6F7;
  padding: 10px;
  margin-top: 15px;

  height: 65px;
}
.p-header-info
{
  font-size: 18px;
  float: right;
  width: 65%;
}
.p-header-info >h1
{
  padding: 0;
  margin: 0;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.p-header-info >h1>span
{
  font-size: 14px;
  font-weight: bolder;
  display: block;
  margin: 3px;
}
.p-header-extra
{

  float: left;
  width: 30%;
}
.offer-bg {
  background: url("/images/slices.png") no-repeat scroll -155px -540px;
  color: #fff;
  float: right;
  font: 13px/20px yekan;
  height: 39px;
  padding: 11px 0 0;
  text-align: center;
  text-indent: -9999px;
  width: 30px;
}
.p-header-extra p {
  color: #7d7d7d;
  float: right;

  padding-right: 11px;
  text-align: right;
}
.p-header-extra p > span {
  direction: rtl;
  display: block;
}
.p-config-container
{

}
.p-color-chose
{
  height: 56px;
  width: 100%;
  display: block;

}
.p-color-box
{
  position: relative;
  float: right;
  margin: 10px 0 0 10px;
}
.p-color-box>input
{
  opacity: 0;
  position: absolute;
}

.p-color-box > label.active {
  border: 1px solid #287724;
  font-weight: bolder;
}
.p-color-box > label {
  background: #fafbfc;
  border-color: #dfe5e8;
  border: 1px solid #a7a3a3;
  border-top-color: #a7a3a3;
  border-right-color: #a7a3a3;
  border-bottom-color: #a7a3a3;
  border-left-color: #a7a3a3;
  border-radius: 2px;
  display: block;
  font: 11px/26px iransanse;
  height: 26px;
  padding: 0 34px 0 11px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.p-color-box > label[disabled=true] {

  border-color: #dfe5e8;
  border: 1px solid #000000;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-color: #000000;
  border-right-color: #000000;
  border-bottom-color: #000000;
  border-left-color: #000000;
  border-radius: 2px;
  cursor: not-allowed;
  opacity: .5;
}

.p-color-box > label[disabled=true]:before
{
  border-radius: 0;
  content: "";
  height: 1px;
  width: 90%;
  position: absolute;
  color: #000;
  background: #f00;
  right: 0px;
  left: 0px;
  margin:auto;
  top: 13px;
  border: none;
  border-top-color: unset;
  border-right-color: unset;
  border-bottom-color: unset;
  border-left-color: unset;
  box-sizing: unset;
  -moz-box-sizing: unset;
  -webkit-box-sizing: unset;



}

.p-color-box > label:before {
  border-radius: 100%;
  content: "";
  height: 18px;
  position: absolute;
  right: 9px;
  top: 4px;
  width: 18px;
  background: #fff;
  background-color: white;
  border: 0;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.p-color-box > label.active:before {
  background: url("/images/slices.png") no-repeat -107px -80px;

  content: "";

  position: absolute;

  opacity: 1;


}

.p-color-box >label:after
{
  content: "";
  transition: opacity 150ms ease;
  -ms-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  -webkit-transition: opacity 150ms ease;
  opacity: 0;

}

.p-config-detail
{
  margin-top:15px ;

}
.p-config-warranty
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.p-config-warranty >i
{
  background: url("/images/slices.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  display: inline-block;
  position: relative;
  background-position: -1276px -523px;
  width: 19px;
  height: 24px;
  margin-left: 10px;
}
.p-seller-detail
{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  padding: 25px 0 15px;
  margin: 22px 0;
}
.p-seller-title
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;

}

.p-seller-title >i
{
  background: url("/images/slices.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  display: inline-block;
  position: relative;
  background-position: -1325px -254px;
  width: 22px;
  height: 18px;
  margin-left: 10px;
}
.p-seller-title >span
{
  margin-right: 3px;
  display: inline-flex;
  align-items: center;
}
.p-seller-title >span>i
{
  background: url("/images/slices.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  display: inline-block;
  position: relative;
  background-position: -1280px -484px;
  width: 16px;
  height: 16px;
  margin-left: 6px;
}

.p-seller-shipment
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;

}

.p-seller-shipment >i
{
  background: url("/images/slices.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  display: inline-block;
  position: relative;
  background-position: -1330px -440px;
  width: 21px;
  height: 21px;
  margin-left: 10px;
}
.p-seller-lead-time
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;

}

.p-seller-lead-time >i
{
  background: url("/images/slices.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  display: inline-block;
  position: relative;
  background-position: -1326px -299px;
  width: 20px;
  height: 18px;
  margin-left: 10px;
}
.p-payable-price>.label
{
  color: #4d4d4d;
  font-size: 16px;
}

.p-payable-price>.price
{
  font: bolder 23px/32px iransanse !important;
  color: #4caf50;
  padding: 0 15px 0 4px;
  vertical-align: -3px;
}
.p-payable-price>.payable-currency
{
  font-size: 11px;
  vertical-align: 2px;
  color: #4caf50;
  padding-right: 8px;
}
.p-add-to-cart-area
{
  margin: 26px 0 36px;
}
.p-add-to-cart:hover
{
  background-color: #46a349;
}
.p-add-to-cart
{
  background-color: #4caf50;
  width: 214px;
  height: 38px;
  border-radius: 5px ;

}
.p-add-to-cart-button
{
  text-decoration: none;




}
.p-add-to-cart-button:hover>i
{

  height: 100%;
  width: 54px;
  display: inline-block;
  float: right;

  background: url("/images/slices.png") no-repeat #59ae5c;
  background-position: -144px -413px;
  border-radius: 5px ;

}

.p-add-to-cart-button>i
{

  height: 100%;
  width: 54px;
  display: inline-block;
  float: right;

  background: url("/images/slices.png") no-repeat #62b965;
  background-position: -144px -413px;
  border-radius: 5px ;

}

.p-add-to-cart-button>span
{
  display: inline-block;
  height: 100%;
  width: 157px;
  float: left;
  font-size: 16px;
  color: #fff;
  z-index: 999;
  text-align: center;
  line-height: 38px;
}
.p-notavalible
{
  border-color: #e2c868;
  background-color: #fffcda;
}
.p-notavalible >span
{
  color: #158dff;
}
.p-att-Summary
{

}
.p-att-Summary>ul
{

}
.p-att-Summary>ul>li
{
  display: list-item;

}
.p-att-Summary>ul>li>span:nth-child(2)
{
  display: inline-block;
  color: #777;
  font: 10px/23px iransanse;
}
.p-att-Summary>ul>li>span:nth-child(3)
{
  color: #aaa;
  padding-right: 4px;
  font: 10px/23px iransanse;
}

.icon-circle
{
  display: inline-block;

  width: 4px;

  height: 4px;

  background: url("/images/slices.png") no-repeat -570px -37px;

  margin-left: 14px;
}

.p-carousel-theme
{
  margin: 15px 0;
  clear: both;
  background-color: #FFF;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);


}
.p-carousel-theme>div
{
  padding: 10px;

}
.p-carousel-theme>p>b
{
  color: #666;
  display: inline-block;
  font-size: 13px;
  height: 38px;
  line-height: 38px;
  padding-right: 15px;
  font-weight: 100;
}
.p-carousel-theme>p
{
  background-color: #eee;
  color:#000
}
.owl-carousel .item>img {

  width: 100%;
  height: 215px;

}
.owl-carousel .item>p
{
  font: 12px iransanse;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  text-align: center;
}
.owl-carousel .item {

  text-decoration: none;
  outline: 0;
  color: inherit;
  cursor: pointer;
  height: 230px;
  text-decoration: none;
  background: #FFF;
  padding: 1rem;

  width: 150px;

}
.owl-carousel .item >span
{

  bottom: 0;
  color: #4caf50;
  display: block;
  font: 14px iransanse;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;


}
.owl-carousel .item >span>span
{

  vertical-align: 1px;
  font-size: 10px;
  padding-right: 10px;

}
.article-container
{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  margin: 0 auto 10px auto;
  border: 1px solid #ebeced;
  color: #4d4d4d;
  direction: rtl;
  padding: 20px 15px 30px 15px;
  text-align: justify;
  position: relative;
}
.article-header>h2
{
  font: 20px iransanse;
  margin: 0 0 25px;
  display: block;
  color: #4d4d4d;
}
.article-header>span
{
  font: 13px iransanse;
  margin-bottom: 40px;
  color: #999;
  display: block;

}
.text
{
  overflow: hidden;
}
.text>.inner p
{
  font: 15px/32px iransanse;
  margin: 0;
  padding: 0;
  text-align: justify;
}
.tab-review::before
{
  background: url("/images/slices.png") no-repeat -107px -310px;
  content: "";
  display: inline-block;
  height: 20px;
  margin: 0 0 0 16px;
  right: 0;
  width: 20px;
  position: relative;
  top: 7px;
}
.tab-specific::before
{
  background: url("/images/slices.png") no-repeat -317px -268px;
  width: 18px;
  height: 22px;
  content: "";
  display: inline-block;
  height: 20px;
  margin: 0 0 0 5px;
  right: 0;
  width: 20px;
  position: relative;
  top: 7px;

}
.tab-comment::before
{
  background: url("/images/slices.png") no-repeat -263px -269px;
  content: "";
  display: inline-block;
  height: 20px;
  margin: 0 0 0 16px;
  right: 0;
  width: 20px;
  position: relative;
  top: 7px;
}

.p-tabs
{
  min-height: 500px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
}

.tap-content-inner
{
  padding: 45px 34px;
  overflow: auto;
}

.p-spec-tab-header
{
  font-size: 18px;

  width: 65%;


}
.p-spec-tab-header >h1
{
  padding: 0;
  margin: 0;
  display: block;
  font-size: 26px;
  font-weight: bold;
}
.p-spec-tab-header >h1>span
{
  font-size: 15px;
  color: #999;
  font-weight: bolder;
  display: block;
  margin: 3px;
  line-height: 2.2;
  font-weight: 300;
  margin-bottom: 30px;
}


.p-spec-tab-title
{
  padding-top: 45px;
  padding-bottom: 8px;

  display: block;
}
.p-spec-tab-title>span{
  font: normal 16px iransanse;
  color: #555;
}
.p-spec-tab-title>i::before
{
  background: url("/images/slices.png") no-repeat;
  background-position: -36px -652px !important;
  height: 10px;
  width: 5px;
  content: "";
  display: inline-block;

  margin: 0 0 0 16px;
  right: 0;

  position: relative;

}

ul.spec-list
{
  margin-bottom: 38px;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  list-style: none;
  border-width: 0;
}
ul.spec-list span.technicalspecs-value
{
  display: block;
  white-space: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 9px;
  background: #f7f9fa;
  padding: 9px 21px;
  width: 75%;
  height: auto;
  color: #777;
  float: left;

}
.mob-technicalspecs-title
{
  display: block;
  white-space: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 9px;

  height: auto;
  padding: 9px 21px;
  margin-left: 19px;
  color: #000;

}
.mob-technicalspecs-value
{
  display: block;
  white-space: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 9px;
  color: #777;
  float: right;
  height: auto;
  padding: 9px 21px;
  color: #777;


}
ul.spec-list span.technicalspecs-title
{
  display: block;
  white-space: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 9px;
  float: right;
  background: #f0f1f2;
  width: 21%;
  height: auto;
  padding: 9px 21px;
  margin-left: 19px;

}
.p-comment-tab
{
  margin: 10px 2px;

}
.p-comment-tab>button
{
  float: left;
}
.p-spec-tab-title>span>span
{
  font-size: 10px;
}
.comment-container
{
  width: 100%;
  margin: 15px 2px;
  background-color: #FFF;
  border-radius: 3px;
  min-height: 285px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
}
.comment-heading
{
  background-color: #eee;
  padding: 5px 5px;
  overflow: hidden;
}
.comment-heading>h4
{
  font-size: 16px;
  color: #0a0b0b;

}
.comment-heading>span
{
  font-size: 11px;
  color: #202020;

}
.comment-body
{
  min-height: 200px;
  padding: 15px;


}
.buyer-message
{
  height: 25px;
  line-height: 22px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0 0 25px 0;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
}
.buyer-message.agree
{
  background: #f5fcf5;
  border: 1px solid #c5e8c6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(197, 232, 198);
  border-right: 2px solid #77c07a;
  color: #4caf50;
}
.buyer-message.disagree
{
  background: #fcf5f5;
  border: 1px solid #e8c5c5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(232, 197, 197);
  border-right: 2px solid #fa7c7c;
  color: #ff5252;

}

@media (max-width:768px)
{
  .p-header-info
  {
    font-size: 14px;
    float: right;
    width: 100%;
  }
  .p-header-info > h1 > span {
    font-size: 12px;
    font-weight: bolder;
    display: block;
    margin: 3px;
  }
  .p-tabs .nav > li
  {
    width: 33%;
  }.nav > li > a {
    position: relative;
    display: block;
    padding: 16px 5px;
  }
}
.p-mob-spec-tab
{

}
.p-mob-spec-tab>h1
{
  background-color: #eee;
  padding: 0;
  margin-top: 5px;
  font-size: 18px;
  padding: 12px;
}
.bg-white
{
  background-color: #fff;
}
// mob product

.p-add-to-cart-mobile>a
{
  overflow: hidden;
  position: relative;
  color: #fff;
  display: block;
}
.cro-seprator
{
  height: 25px;
  width: 1.4px;
  float: right;
  background-color: white;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translateY(-50%);
  justify-content: center;
  margin: 0 auto;
}
.p-add-to-cart-mobile>a>h3
{
  letter-spacing: -0.4px;
  line-height: 1.6;
  display: inline-block !important;
  width: 51% !important;
  text-align: center !important;
  font-weight: 900;
  font-size: 18px;
}
.p-add-to-cart-mobile
{
  background: #62b965;
  text-align: left !important;
  background: #62b965;
  text-align: center;
  height: inherit;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;

}
.cro-price
{
  float: right;
  display: flex;
  color: white;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  width: 49%;
  padding: 7px 0 0px;
  text-align: center;
}
.cro-old-p {
  color: white;
  text-decoration: line-through;
  font-size: 14px;
  vertical-align: top;
  line-height: 1.7;
  display: inline-block;
}
.cro-curr-p {
  font-size: 13px;
  vertical-align: top;
  display: inline-block;
  line-height: .8;
}
.cro-num-p {
  display: inline;
  font-weight: bold;
  font-size: 18px;
}
.cro-toman {
  display: inline;
  font-size: 12px;
}
